// the outermost container, should handle basic stuff like width, viewport, media queries
.outer-wrapper {
    @extend .m-lg;
    // min-width: 800px;
    // min-height: 800px;
}

// inner wrapper, for padding etc.
.inner-wrapper {
    @extend .p-md;
    width: 100%;
    height: 100%;
}

  // for canvas only in canvas components
  .shell {
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    background: #DAE0F2;
    padding: $md;
  }

// OPTIONAL: update canvas background here
  canvas {
    background: #ffffff;
    // border: 4px solid lightslategray;
  }