// the outermost container, should handle basic stuff like width, viewport, media queries
.outer-wrapper {
    @extend .m-lg;
    background: $surface-white;
    min-width: 800px;
    min-height: 800px;
}

// inner wrapper, for padding etc.
.inner-wrapper {
    @extend .p-md;
    width: 100%;
    height: 100%;
}